@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --color-chile-red: #BF3B3B;
    --color-indian-sand: #5C271F;
    --color-desert-sand: #D9B18E;
    --color-sandy-sand: #D9CCCA;
    --color-white-sand: #F2F2F2;
    --color-turquoise-300: #80B4BF;
    --color-turquoise-500: #20788C;
}
.website {
    position: absolute;
    left: -9999px;
}