body {
    margin: 0;
    padding: 0;
}
.page-container {
    text-align: center;
    overflow-y: scroll;
    background: url("images/7205205.jpg") center center no-repeat;
    height: 100vh;
    width: 100%;
}
main {
    background-color: linen;
    width: 70%;
    margin: 30px auto;
}
.info-1 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 77%;
    margin: 1.5rem auto;
    line-height: 1.5;
}
.resp-img-lg {
    width: 80%;
}
.resp-img-md {
    width: 50%;
}